<h1><%= @species.name %></h1>

<p><%= link_to "Return to Species List", species_index_path %></p>

<p><%= link_to "Edit", edit_species_path(@species) %></p>
<p><%= link_to "Delete", species_path(@species), :data => {:confirm => "You sure?", :method => "delete"} %></p>
